<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.baseauth.impl.dao.UserGroupDao">

    <resultMap id="userGroupMap" type="userGroup">
<!--        <constructor>-->
<!--            <idArg column="group_code" javaType="int"/>-->
<!--        </constructor>-->
        <id column="group_code"  property="groupCode"  />
        <result column="pgroup_code"  property="pgroupCode" />
        <result column="group_name"  property="groupName" />
        <result column="status"  property="status" />
        <result column="remark"  property="remark" />
<!--        <association property="user" javaType="user" >-->
<!--            <id column="user_id" property="id"/>-->
<!--            <result column="user_name" property="name"/>-->
<!--            -->
<!--        </association>-->
<!--        <collection property="users" ofType="user">-->
<!--            <id property="id" column="user_id"/>-->
<!--            <result property="name" column="user_name"/>-->
<!--        </collection>-->
    </resultMap>

    <select id="getUserGroup" parameterType="userGroup" resultMap="userGroupMap">
        select group_code,pgroup_code,group_name,status,remark from
         <include refid="Table_Name"></include>
         where group_code=#{groupCode}

    </select>

    <delete id="deleteUserGroup" parameterType="userGroup">
        delete from 
         <include refid="Table_Name"></include>
         where group_code=#{groupCode}

    </delete>
    <update id="updateUserGroup" parameterType="userGroup">
        update
         <include refid="Table_Name"></include>
         set
            pgroup_code = #{pgroupCode},
            group_name= #{groupName},
            status = #{status},
            remark = #{remark} where group_code = #{groupCode}

    </update>
    <insert  id="addUserGroup" parameterType="userGroup" >
        insert into
         <include refid="Table_Name"></include>
         (group_code,pgroup_code,group_name,status,remark)
        values (#{groupCode},#{pgroupCode},#{groupName},#{status},#{remark})

    </insert>
    <sql id="Table_Name">
        dap_cloud_user_group
    </sql>
<!--    <cache/>-->
<!--    <cache-ref namespace="com.baseauth.system.model.UserGroup" />-->

</mapper>